# Inserts a blank line between shell prompts
add_newline = false

[line_break]
disabled = true

[character]
success_symbol = "[â¯](blue)"

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true
